.WPNkz {
    display: none;
    width: 0;
    height: 0;
}

.adminjs_Label {
    color: #e3edfe;
}

.adminjs_Input {
    color: #e3edfe;
}

/*svg {*/
/*    display: none;*/
/*}*/

.adminjs_ButtonGroupItem {
    color: #e3edfe;
}

.fakpcu {
    display: none;
}